In [1]:
import pandas as pd

In [2]:
import os

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn

In [5]:
import numpy as np

In [6]:
import statsmodels.api as sm

In [7]:
PATH = os.path.abspath('')

In [8]:
PATH

'D:\\1Econ\\Python\\Midterm-project\\code3'

In [9]:
csv_dir=os.path.dirname(PATH)

In [10]:
csv_dir

'D:\\1Econ\\Python\\Midterm-project'

In [11]:
csv_PATH=csv_dir+'/dataset'

In [12]:
csv_PATH

'D:\\1Econ\\Python\\Midterm-project/dataset'

In [13]:
filenames = ['20231.csv', '202211.csv', '202212.csv']

In [14]:
files = []

In [15]:
for filename in filenames:
    files.append(os.path.join(csv_PATH, filename))

In [16]:
files

['D:\\1Econ\\Python\\Midterm-project/dataset\\20231.csv',
 'D:\\1Econ\\Python\\Midterm-project/dataset\\202211.csv',
 'D:\\1Econ\\Python\\Midterm-project/dataset\\202212.csv']

In [17]:
df_names = []

In [18]:
for i in range(1,len(files)+1):
    df_names.append('df' + str(i))

In [19]:
df_names

['df1', 'df2', 'df3']

In [20]:
d = {}

In [21]:
for i in range(len(df_names)):
    name = df_names[i]
    tmp = pd.read_csv(files[i])
    tmp['Time'] = filenames[i]
    d[name] = tmp

In [22]:
d

{'df1':                                                   name   price  score   dis  \
 0                          Hyatt House Austin/Downtown  1195.0    8.0   0.4
 1          Courtyard Austin Downtown/Convention Center  1414.0    8.2   0.2
 2                  Hilton Garden Inn Cedar Park Austin   673.0    9.0  14.5
 3                  Sentral East Austin at 1614 E Sixth  1000.0    9.1   1.1
 4                  Sentral East Austin at 1630 E Sixth   840.0    8.1   1.1
 ..                                                 ...     ...    ...   ...
 149  Vivant - Efficiency 2BR King Bed Suites Next t...  1733.0   10.0   1.9
 150           AC Hotel by Marriott Austin Hill Country  1459.0    9.0   7.7
 151          Cozy-2 Bedroom 2 Bath- Near Lakeline Mall   908.0   10.0  15.2
 152                                  Village Motor Inn  1564.0    4.6   2.6
 153  Residence Inn by Marriott Austin - University ...  1615.0    8.4   3.5

           Time
 0    20231.csv
 1    20231.csv
 2    20231.csv
 3    20231.csv
 4    20231.csv
 ..         ...
 149  20231.csv
 150  20231.csv
 151  20231.csv
 152  20231.csv
 153  20231.csv

 [154 rows x 5 columns],
 'df2':                                                   name   price  score   dis  \
 0    La Quinta Inn by Wyndham Austin Capitol / Down...   682.0    5.8   0.4
 1          Courtyard Austin Downtown/Convention Center   974.0    8.2   0.2
 2          DoubleTree by Hilton Austin-University Area   915.0    8.0   1.1
 3                                      Fairmont Austin  1072.0    8.9   0.4
 4       Staybridge Suites Austin Airport, an IHG Hotel   798.0    7.7   4.5
 ..                                                 ...     ...    ...   ...
 174                         Residence Inn Austin South  1049.0    8.2   4.1
 175  Downtown, Convention Center, Capitol, Zilker P...  2375.0    8.3   1.9
 176                                Natiivo Austin VIII  1377.0   10.0   0.8
 177  Residence Inn by Marriott Austin Parmer/Tech R...   794.0    8.1  10.4
 178                          Four Seasons Hotel Austin  3484.0    8.5   0.3

            Time
 0    202211.csv
 1    202211.csv
 2    202211.csv
 3    202211.csv
 4    202211.csv
 ..          ...
 174  202211.csv
 175  202211.csv
 176  202211.csv
 177  202211.csv
 178  202211.csv

 [179 rows x 5 columns],
 'df3':                                                   name   price  score   dis  \
 0                                      Fairmont Austin  1016.0    8.9   0.4
 1                             Austin Marriott Downtown  1219.0    8.5   0.3
 2                          Hyatt House Austin/Downtown   619.0    8.0   0.4
 3                                      The LINE Austin  1244.0    8.2   0.3
 4                  Hilton Garden Inn Cedar Park Austin   607.0    9.0  14.5
 ..                                                 ...     ...    ...   ...
 181                     Omni Barton Creek Resort & Spa  2274.0    8.5   7.1
 182  Residence Inn by Marriott Austin Northwest/The...   900.0    8.7   9.4
 183               Super 8 by Wyndham Austin South I-35   546.0    4.9   3.7
 184  Extended Stay America Suites - Austin - Northw...   532.0    5.8  14.2
 185      Extended Stay America Suites - Austin - Metro   636.0    6.3   4.6

            Time
 0    202212.csv
 1    202212.csv
 2    202212.csv
 3    202212.csv
 4    202212.csv
 ..          ...
 181  202212.csv
 182  202212.csv
 183  202212.csv
 184  202212.csv
 185  202212.csv

 [186 rows x 5 columns]}

In [23]:
df = pd.concat(d.values(), ignore_index=True)

In [24]:
df

,name,price,score,dis,Time
0,Hyatt House Austin/Downtown,1195.0,8.0,0.4,20231.csv
1,Courtyard Austin Downtown/Convention Center,1414.0,8.2,0.2,20231.csv
2,Hilton Garden Inn Cedar Park Austin,673.0,9.0,14.5,20231.csv
3,Sentral East Austin at 1614 E Sixth,1000.0,9.1,1.1,20231.csv
4,Sentral East Austin at 1630 E Sixth,840.0,8.1,1.1,20231.csv
...,...,...,...,...,...
514,Omni Barton Creek Resort & Spa,2274.0,8.5,7.1,202212.csv
515,Residence Inn by Marriott Austin Northwest/The...,900.0,8.7,9.4,202212.csv
516,Super 8 by Wyndham Austin South I-35,546.0,4.9,3.7,202212.csv
517,Extended Stay America Suites - Austin - Northw...,532.0,5.8,14.2,202212.csv
518,Extended Stay America Suites - Austin - Metro,636.0,6.3,4.6,202212.csv