In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn

In [ ]:
import numpy as np

In [ ]:
import statsmodels.api as sm

In [ ]:
PATH = os.path.abspath('')

In [ ]:
PATH

'/Users/meetlu/Desktop/repos/UT/Midterm-project /code3'

In [ ]:
csv_dir=os.path.dirname(PATH)

In [ ]:
csv_dir

'/Users/meetlu/Desktop/repos/UT/Midterm-project '

In [ ]:
csv_PATH=csv_dir+'/dataset'

In [ ]:
csv_PATH

'/Users/meetlu/Desktop/repos/UT/Midterm-project /dataset'

In [ ]:
filenames = ['20231.csv', '202211.csv', '202212.csv']

In [ ]:
files = []

In [ ]:
for filename in filenames:
    files.append(os.path.join(csv_PATH, filename))

In [ ]:
files

['/Users/meetlu/Desktop/repos/UT/Midterm-project /dataset/20231.csv',
 '/Users/meetlu/Desktop/repos/UT/Midterm-project /dataset/202211.csv',
 '/Users/meetlu/Desktop/repos/UT/Midterm-project /dataset/202212.csv']

In [ ]:
df_names = []

In [ ]:
for i in range(1,len(files)+1):
    df_names.append('df' + str(i))

In [ ]:
df_names

['df1', 'df2', 'df3']

In [ ]:
d = {}

In [ ]:
for i in range(len(df_names)):
    name = df_names[i]
    tmp = pd.read_csv(files[i])
    tmp['Time'] = filenames[i]
    d[name] = tmp

In [ ]:
d

{'df1':                                                   name   price  score   dis  \
 0          Courtyard Austin Downtown/Convention Center  1414.0    8.2   0.2
 1                                      The LINE Austin  1894.0    8.2   0.3
 2                             Sentral East Austin 1630   840.0    8.1   1.1
 3                             Sentral East Austin 1614  1000.0    9.1   1.1
 4            Aiden by Best Western @ Austin City Hotel   955.0    8.2   2.2
 ..                                                 ...     ...    ...   ...
 177  Extended Stay America Suites - Austin - Northw...   503.0    5.8  14.2
 178    Austin House with Back Yard - 15 Mi to Downtown  1467.0    9.0  12.8
 179              Fairfield Inn and Suites Austin South   728.0    8.3   4.1
 180   Residence Inn by Marriott Austin The Domain Area  1184.0    7.9   8.1
 181               Motel 6-Austin, TX - South - Airport   664.0    4.7   2.7

           Time
 0    20231.csv
 1    20231.csv
 2    20231.csv
 3    20231.csv
 4    20231.csv
 ..         ...
 177  20231.csv
 178  20231.csv
 179  20231.csv
 180  20231.csv
 181  20231.csv

 [182 rows x 5 columns],
 'df2':                                                   name   price  score   dis  \
 0                                      Fairmont Austin  1052.0    8.9   0.4
 1          Courtyard Austin Downtown/Convention Center   974.0    8.2   0.2
 2    La Quinta Inn by Wyndham Austin Capitol / Down...   682.0    5.8   0.4
 3                                      The LINE Austin  1324.0    8.2   0.3
 4          DoubleTree by Hilton Austin-University Area   915.0    8.0   1.1
 ..                                                 ...     ...    ...   ...
 177  20th floor condo with pool on Rainey Street by...  1603.0    8.0   0.8
 178    Courtyard Austin by Marriott Northwest/Lakeline   679.0    8.7  14.2
 179              Fairfield Inn and Suites Austin South   728.0    8.3   4.1
 180                              Austin Marriott South  1003.0    8.2   3.9
 181                                           W Austin  1584.0    7.4   0.3

            Time
 0    202211.csv
 1    202211.csv
 2    202211.csv
 3    202211.csv
 4    202211.csv
 ..          ...
 177  202211.csv
 178  202211.csv
 179  202211.csv
 180  202211.csv
 181  202211.csv

 [182 rows x 5 columns],
 'df3':                                                   name   price  score   dis  \
 0                                      Fairmont Austin  1016.0    8.9   0.4
 1          Courtyard Austin Downtown/Convention Center   954.0    8.2   0.2
 2                          Hyatt House Austin/Downtown   774.0    8.0   0.4
 3                                      The LINE Austin  1244.0    8.2   0.3
 4                  Hilton Garden Inn Cedar Park Austin   615.0    9.0  14.5
 ..                                                 ...     ...    ...   ...
 161    Courtyard Austin by Marriott Northwest/Lakeline   659.0    8.7  14.2
 162  Downtown, Convention Center, Capitol, Zilker P...  3895.0    8.3   1.9
 163                                Hotel Saint Cecilia  2749.0    9.0   1.1
 164                                Natiivo Austin VIII  1437.0   10.0   0.8
 165               Motel 6-Austin, TX - South - Airport   644.0    4.7   2.7

            Time
 0    202212.csv
 1    202212.csv
 2    202212.csv
 3    202212.csv
 4    202212.csv
 ..          ...
 161  202212.csv
 162  202212.csv
 163  202212.csv
 164  202212.csv
 165  202212.csv

 [166 rows x 5 columns]}

In [ ]:
df = pd.concat(d.values(), ignore_index=True)

In [ ]:
df

,name,price,score,dis,Time
0,Courtyard Austin Downtown/Convention Center,1414.0,8.2,0.2,20231.csv
1,The LINE Austin,1894.0,8.2,0.3,20231.csv
2,Sentral East Austin 1630,840.0,8.1,1.1,20231.csv
3,Sentral East Austin 1614,1000.0,9.1,1.1,20231.csv
4,Aiden by Best Western @ Austin City Hotel,955.0,8.2,2.2,20231.csv
...,...,...,...,...,...
525,Courtyard Austin by Marriott Northwest/Lakeline,659.0,8.7,14.2,202212.csv
526,"Downtown, Convention Center, Capitol, Zilker P...",3895.0,8.3,1.9,202212.csv
527,Hotel Saint Cecilia,2749.0,9.0,1.1,202212.csv
528,Natiivo Austin VIII,1437.0,10.0,0.8,202212.csv
529,"Motel 6-Austin, TX - South - Airport",644.0,4.7,2.7,202212.csv

In [ ]:
df['name'].value_counts()

Courtyard Austin Downtown/Convention Center                            3
A Secluded Urban Escape                                                3
The LINE Austin                                                        3
Residence Inn Austin Downtown / Convention Center                      3
Terrace on Shoal Creek #19                                             3
                                                                      ..
Natiivo Austin VII                                                     1
Evonify Stays - Mueller - Renovated Furnished Apartments               1
Vivant - Spacious 2BR King Bed Suites Close to Downtown and Airport    1
Luxe 2BD Apt Heart of Austin, SoCo District!                           1
Hotel Saint Cecilia                                                    1
Name: name, Length: 243, dtype: int64

In [ ]:
index = df['name'].value_counts() == 3

In [ ]:
sum(index)

103

In [ ]:
df['hotel_count'] = df.groupby('name')['name'].transform('count')

In [ ]:
df

,name,price,score,dis,Time,hotel_count
0,Courtyard Austin Downtown/Convention Center,1414.0,8.2,0.2,20231.csv,3
1,The LINE Austin,1894.0,8.2,0.3,20231.csv,3
2,Sentral East Austin 1630,840.0,8.1,1.1,20231.csv,3
3,Sentral East Austin 1614,1000.0,9.1,1.1,20231.csv,3
4,Aiden by Best Western @ Austin City Hotel,955.0,8.2,2.2,20231.csv,3
...,...,...,...,...,...,...
525,Courtyard Austin by Marriott Northwest/Lakeline,659.0,8.7,14.2,202212.csv,2
526,"Downtown, Convention Center, Capitol, Zilker P...",3895.0,8.3,1.9,202212.csv,3
527,Hotel Saint Cecilia,2749.0,9.0,1.1,202212.csv,1
528,Natiivo Austin VIII,1437.0,10.0,0.8,202212.csv,3
529,"Motel 6-Austin, TX - South - Airport",644.0,4.7,2.7,202212.csv,2

In [ ]:
def cal_holiday(row):
    if row['Time'] == '20231.csv':
        return 0
    else:
        return 1

In [ ]:
df['Holiday'] = df.apply(cal_holiday, axis=1)

In [ ]:
df

,name,price,score,dis,Time,hotel_count,Holiday
0,Courtyard Austin Downtown/Convention Center,1414.0,8.2,0.2,20231.csv,3,0
1,The LINE Austin,1894.0,8.2,0.3,20231.csv,3,0
2,Sentral East Austin 1630,840.0,8.1,1.1,20231.csv,3,0
3,Sentral East Austin 1614,1000.0,9.1,1.1,20231.csv,3,0
4,Aiden by Best Western @ Austin City Hotel,955.0,8.2,2.2,20231.csv,3,0
...,...,...,...,...,...,...,...
525,Courtyard Austin by Marriott Northwest/Lakeline,659.0,8.7,14.2,202212.csv,2,1
526,"Downtown, Convention Center, Capitol, Zilker P...",3895.0,8.3,1.9,202212.csv,3,1
527,Hotel Saint Cecilia,2749.0,9.0,1.1,202212.csv,1,1
528,Natiivo Austin VIII,1437.0,10.0,0.8,202212.csv,3,1
529,"Motel 6-Austin, TX - South - Airport",644.0,4.7,2.7,202212.csv,2,1

In [ ]:
df['price'] = df['price'].astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         530 non-null    object
 1   price        530 non-null    int64
 2   score        530 non-null    float64
 3   dis          530 non-null    float64
 4   Time         530 non-null    object
 5   hotel_count  530 non-null    int64
 6   Holiday      530 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 29.1+ KB

In [37]:
df.columns

Index(['name', 'price', 'score', 'dis', 'Time', 'hotel_count', 'Holiday'], dtype='object')